In [ ]:


# BASIC WEBSCARPING


from bs4 import BeautifulSoup  # librray to scrape text
import requests                 # library to get the website content
import csv
page_to_scrape = requests.get("https://quotes.toscrape.com") #Loading it into a variable the website
soup =BeautifulSoup(page_to_scrape.text,"html.parser")       # scraping

#Next step ,go to the website inspect the elemet and understand the calss of the element one has to scrape
Quotes =soup.findAll("span",attrs={"class":"text"})
Author =soup.findAll("small",attrs={"class":"author"})


file = open("scraped_file.csv","w")
writer=csv.writer(file)
writer.writerow(["Quotes","Authors"])


for q,a in zip(Quotes,Author):
  print(q.text+ "--" + a.text)
  writer.writerow([q.text,a.text])
file.close()

“The world as we have created it is a process of our thinking. It cannot be changed without changing our thinking.”--Albert Einstein
“It is our choices, Harry, that show what we truly are, far more than our abilities.”--J.K. Rowling
“There are only two ways to live your life. One is as though nothing is a miracle. The other is as though everything is a miracle.”--Albert Einstein
“The person, be it gentleman or lady, who has not pleasure in a good novel, must be intolerably stupid.”--Jane Austen
“Imperfection is beauty, madness is genius and it's better to be absolutely ridiculous than absolutely boring.”--Marilyn Monroe
“Try not to become a man of success. Rather become a man of value.”--Albert Einstein
“It is better to be hated for what you are than to be loved for what you are not.”--André Gide
“I have not failed. I've just found 10,000 ways that won't work.”--Thomas A. Edison
“A woman is like a tea bag; you never know how strong it is until it's in hot water.”--Eleanor Roosevelt
“A day without sunshine is like, you know, night.”--Steve Martin

**Practical 1**

In [ ]:

from bs4 import BeautifulSoup  # librray to scrape text
import requests
page_to_scrape = requests.get("https://webscraper.io/test-sites/e-commerce/allinone")
soup =BeautifulSoup(page_to_scrape.text,"html.parser")
Product_Name =soup.findAll("a",attrs={"class":"title"})
Product_Price=soup.findAll("h4",attrs={"class":"price float-end card-title pull-right"})

for n,p in zip(Product_Name,Product_Price):
  print(n.text+ "--" + p.text)

Amazon Kindle--$103.99
MSI GL62M 7REX--$1199
Dell Latitude...--$1238.37

Practical 2

In [ ]:

from bs4 import BeautifulSoup  # librray to scrape text
import requests
page_to_scrape = requests.get("https://www.zomato.com/kochi/mg-road-restaurants")
soup =BeautifulSoup(page_to_scrape.text,"html.parser")
Mg_road =soup.findAll("h4",attrs={"class":"sc-1hp8d8a-0 sc-iEPtyo fKawif"})

print(Mg_road)

[]

**Wikipedia- Webscrape  **-Largest Comapnies In India Forbes 2023 list

In [4]:
from bs4 import BeautifulSoup
import requests
import csv
import pandas as pd
website=requests.get("https://en.wikipedia.org/wiki/List_of_largest_companies_in_India")
soup=BeautifulSoup(website.text,"html.parser")
soup.find_all('table')[0]
table = soup.find_all('table',class_='wikitable sortable')[0]
table_header = table.find_all('th')
table_header1 = [t.text.strip() for t in table_header]
table_header1
df=pd.DataFrame(columns = table_header1)
Main_data= table.find_all('tr')
for m in Main_data[1::]:
  rd = m.find_all('td')
  row_data =[d.text.strip() for d in rd]
  length=len(df)
  df.loc[length] =row_data
df

,Rank,Name,Industry,Revenue(billions US$),Headquarters
0,1,Reliance Industries,Conglomerate,109.43,Mumbai
1,2,Indian Oil Corporation,Oil and gas,103.42,New Delhi
2,3,Life Insurance Corporation,Banking,100.35,Mumbai
3,4,Oil and Natural Gas Corporation,Oil and gas,86.06,New Delhi
4,5,Bharat Petroleum,Oil and gas,58.84,Mumbai
5,6,State Bank of India,Banking,56.54,Mumbai
6,4,HDFC Bank,Banking,25.47,Mumbai
7,5,ICICI Bank,Banking,23.17,Mumbai
8,7,HDFC,Financials,19.04,Mumbai
9,9,Tata Consultancy Services,Infotech,27.9,Mumbai
10,10,Tata Steel,Iron and steel,30.28,Mumbai
11,11,Axis Bank,Banking,13.21,Mumbai
12,12,NTPC Limited,Utilities,21.25,New Delhi
13,13,Larsen & Toubro,Capital goods,22.62,Mumbai
14,14,Infosys,Infotech,18.26,Bangalore
15,15,JSW Steel Ltd,Iron and steel,9.50,Mumbai
16,16,Vedanta Limited,Metals and mining,16.38,Mumbai
17,18,Kotak Mahindra Bank,Banking,7.92,Mumbai
18,19,Hindalco Industries,Metals and mining,24.33,Mumbai
19,20,Bharti Airtel,Telecommunication,17.12,New Delhi
20,21,Coal India,Metals and mining,14.03,Kolkata
21,22,Tata Motors,Automotive,39.04,Mumbai
22,23,Power Finance Corporation,Financials,10.15,New Delhi
23,24,HCL Technologies,Infotech,11.19,Noida
24,25,Wipro,Infotech,10.07,Bangalore
25,26,Power Grid Corporation of India,Utilities,5.61,Gurgaon
26,27,Grasim Industries,Diversified,12.35,Mumbai
27,28,ITC Limited,Consumer Goods,7.91,Kolkata
28,29,Bajaj Finserv,Financials,8.64,Pune
29,30,Canara Bank,Banking,12.68,Bangalore
30,31,Bank of Baroda,Banking,12.06,Vadodara
31,32,Union Bank of India,Banking,11.28,Mumbai
32,33,Punjab National Bank,Banking,12.1,New Delhi
33,34,Mahindra & Mahindra,Automotive,11.59,Mumbai
34,35,Steel Authority of India,Iron and steel,12.98,New Delhi
35,36,GAIL,Oil and gas,10.98,New Delhi
36,37,Indian Bank,Banking,6.17,Chennai
37,38,Sun Pharmaceutical,Pharmaceuticals,5.10,Mumbai
38,39,Indian Railway Finance Corporation,Financials,2.55,New Delhi
39,40,Adani Enterprises,Consumer Goods,7.86,Ahmedabad
40,41,IndusInd Bank,Banking,5.09,Mumbai
41,42,Bank of India,Banking,6.26,Mumbai
42,43,Adani Ports & SEZ Limited,Shipping,2.10,Ahmedabad
43,44,Adani Green Energy,Renewable energy,0.41,Ahmedabad
44,45,Rajesh Exports,Gems and jewellery,30.00,Bangalore
45,46,Asian Paints,Chemicals,3.77,Mumbai
46,47,Adani Transmission,Utilities,1.49,Ahmedabad
47,48,Tech Mahindra,Infotech,5.72,Pune
48,49,Adani Total Gas,Oil and gas,0.35,Ahmedabad
49,50,Bajaj Auto,Automotive,4.54,Pune
50,51,DMart,Retail,4.00,Mumbai
51,52,Adyar Ananda Bhavan,Retail,4.00,Chennai

MessageError: Error: credential propagation was unsuccessful